# Editor temporary files
\#*#
.#*
*~

# Compiled files
*.o
*.a
*.d
a.out
*.so
eifl
eifl_autogen

# Debugger temporary files
vgcore.*
.gdb_history

# CMake temporary files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# EIFL temporary files
*.sqlite
